@model HMBPSail.Models.MembershipType

@{
    ViewData["Title"] = "Details Membership Type";
}

<h2>Details Membership Type</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <!-- Adding membership name-->
        <dt>
            @Html.DisplayNameFor(model => model.MembershipTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MembershipTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RatioToFull)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RatioToFull)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MembershipTypeName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
